
/* Sidebar */
.free_artwork_service h2.free {
    font-size: 84px !important;
    margin: 1px 1px;
    color: #36C6AF;
}
.free_artwork_service h4 {
    color: #f91a1a !important;
    padding: 0 0px !important;
    margin: 0 0 !important;
    line-height: 0px !important;
}
.free_artwork_service a.btn_clickhere {
    background: #36C6AF;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}
.free_artwork_service h2.btn_bmpless {
    background: #f91a1a;
    color: white;
    font-size: 27px !important;
    padding: 8px;
    margin: 26px;
    border-radius: 25px;
}
/* Sidebar Ends */

.product-type-simple .entry-summary .summary-container .avada-availability {
    margin: 0px !important;
}
input#upload_artwork {
    display: none;
}
.home_why_choose_us.columns {
    float: none;
    margin: 0 1% 5px;
}
h3.calculator_title {
    margin-bottom: 5px;
    font-size: 23px;
    color: #333333;
	margin-top: 0px;
}
.table-responsive.table-1 .home_calc_price_table tbody tr td {
    padding: 10px;
}
.table-responsive.table-1 .home_calc_price_table tbody tr td .quantity {
    width: inherit;
    border: none;
}
.add_cart_btn.column.col-sm-3 {
 width: 27%;
    margin-top: 29px;
    padding: 0;
}
.custom_order_row.col-sm-3 {
    width: 21%;
    margin-top: 35px;
}
.custom_price_row.col-sm-2 {
    width: 21%;
    margin-top: 32px;
}
.custom_calculator select, .custom_calculator input {
    height: 37px !important;
}
.custom_calculator .finishing.col-sm-3 {
    width: 21%;
}
.alert_info {    background: #36c6af;    color: #fff;}
.icon-help:before {    content: '\e89b';    color: #fff;}
.woocommerce-checkout .blockUI.blockOverlay {    display: none !important}
.banner_wrapper.banners_info {    
  position: relative !important;    
  width: 59% !important;    
  text-align: left !important;    
  display: inline-block !important;    
  padding-top: 0;    
  margin-left: 5em;	
  margin-top: 15px;
}
  .main_info h3{
    font-size: 16px;
  }
  .main_info h3{
    font-size: 14px !important;
  }
  .float-l{
    float:left;
  }
  .main_info img{width: 60px;}
  .main_info .column.one-third{margin:0px;
  }
  .column, .columns {    
    float: left;    
    margin: 0 1% 5px;
  }
  .main_info .column.one-third {    
    margin: 0px;    
    width: 33.333%;
  }
  .custom_price_row.column.one-fourth {    
    margin-top: 9px;}.form-group select, 
    .form-group input {    width: 100%;}
  .double_sided.column.one-fourth img {    
    max-height: 175px;    
    position: absolute;    
    max-width: 200px !important;
  }
    /* h3.rp_wcdpd_product_page_title {    margin: 10px 0px;} */
  .rp_wcdpd_pricing_table {    margin-right: 15px;}.custom_calculator {    width: 75%;    float: left;}

 .custom_calculator_side_bar {
    width: 25%;
    float: left;
    position: relative;
    margin-top: 36px;
    border: 2px solid #36C6AF;
    text-align: center;
    padding-bottom: 18px;
}
.artwork_side_bar{	 
  width: 24%;    float: left;
  border: 2px solid #063673;
  text-align: center;
}
#form_artwork {    
  border: 2px solid #063673;    
  margin-right: 15px;   
  margin-bottom: 15px;    
  padding: 15px;
  width: 70%;
  float: left;
}
input#submit_artwork {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: inherit;
}
.custom_calculator.artwork_form {
    width: 100%;
}
.items_group.clearfix.img_uploader {
    padding: 0px 10px;
}
.uploaded_iamges_main {
    margin-left: 10px;
}
img.uploaded_img {
    max-width: 150px !important;
    max-height: 150px !important;
    border: 2px solid #0a3477c7;
    padding: 5px 5px;
}
.custom_order_row.column.one-fifth {    margin-top: 37px;}
.custom_price_row.column.one-fifth{	margin-top: 15px;}
.finishing.column.one-fifth{	margin-top: 28px;}
.pricetotal_oneway:before {    
  font-family: 'FontAwesome';    
  content: '\f154';    
  margin-top: 3px;    
  color: #626262;    
  border-radius: 50%;    
  padding: 0;    
  font-size: 30px;    
  float: left;
}
table tr:nth-child(2n) td {    background: rgba(0,0,0,0.01);    border-bottom: 2px solid #36C6AF;}
table tr:first-child td {    background: url(../images/box_shadow.png) repeat-x left top;    border-top: 2px solid #36C6AF;}
td#quan-72,td#pr-72 {    border-right: 2px solid #36C6AF;}
input#pricetotal_oneway {    width: 88%;    float: left;    border: none;    box-shadow: none;    font-size: 35px;    font-weight: bold;    padding-left: 5px;    padding-right: 0px;}

#rt_waiting{
	height: 115px;
    text-align: center;
    width: 100%;
    position: absolute;
    background: rgba(247,247,247,0.6);
    z-index: 99;
}
.styled-select {
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}


.slate {
   background: url(http://vinylbannersprinting.co.uk/wp-content/uploads/2016/11/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 171px !important;
}

.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 214px !important;
}

.ptammount_main {
    position: absolute !important;
    right: 164px !important;
    top: 159px !important;
	width: unset !important;
}
#fancy_order_row .pricetotal_oneway {
	border: medium none !important;
    color: #dd127b !important;
    float: left !important;
    font-size: 28px !important;
    width: 20px !important;
    margin-left: 0 !important;
}
#btn-addcart {
cursor: pointer;
    background: url(https://pvcbannersprinting.co.uk/wp-content/uploads/2020/02/buttons-sheet.png) !important;
    background-color: #36C6AF !important;
    right: 0px !important;
    top: 0px !important;
    width: 100%;
    padding: 12px 50px;
    background-repeat: no-repeat !important;
    position: relative !important;
    right: 0px !important;
    top: 0px !important;
    background-position: -7px -236px !important;
    font-weight: bold;
    height: 44px !important;
    border-radius: 8px;
    color: white;
}
#fancy_order_row #pricetotal_oneway {
    border: medium none !important;
    color: #dd127b !important;
    float: left !important;
    font-size: 26px !important;
    margin-left: 0px !important;
	width: 86% !important;
}
.dis_quantity{
	color:white;
	font-style:bold;
}
.fancy-product div#sidebar,.fancy-product .fpd-share-design {
    display: none !important;
}
#rt_unit,#rt_width,#rt_height,#rt_material,#rt_deliveryvbpuk,#rt_finishing,input#rt_inch1,input#rt_inch2,input#rt_qty{
	font-size: 14px;
    margin-bottom: 15px;
    padding:6px 4px;
    text-transform: capitalize;
    width: 100%;
	border:1px solid #36c6af;
}

div#form1 {    
  border: 2px solid #36C6AF;    
  margin-right: 15px; 	
  margin-bottom: 15px;    
  padding: 15px;

}
input#rt_inch1,input#rt_inch2,input#rt_qty {
    font-size: 14px;
    margin-bottom: 23px;
    padding: 6px 4px;
    text-transform: capitalize;
    width: 100%;
}
.inch_main1.col.col-sm-1,.inch_main2.col.col-sm-1{
	padding-left:5px;
}
.sizing .col.col-sm-2 {
    width: 12.5%;
}
.finishing.col.col-sm-3{
    padding-left: 25px;
}
div#order_total_heading_h2 {
    font-size: 26px;
    float: right;
}
.fancy_price.col-sm-2 {
    padding-left: 0px;
}
.qtyp.col.col-sm-1 {
    width: 24%;
}
.fancy_space {
    height: 20px;
    width: 15%;
    float: left;
}
input#rt_qty {
	padding: 5px 4px;
}
.qtyp {
    width: 7%;
    float: left;
    padding-right: 15px;
}
.fancy_order_col {
    width: 22%;
    float: left;
    padding-left: 15px;
    padding-top: 16px;
}
.fancy_price {
    width: 27%;
    float: left;
    padding-left: 15px;
    padding-top: 14px;
}
.fancy_cart {
    width: 30%;
    float: right;
    padding-top:5px;
}

input#set_product {
	cursor: pointer;
    background: url(http://vinylbannersprinting.co.uk/wp-content/uploads/2016/12/design-onliine-button.png) !important;
    background-color: transparent !important;
    width: 164px;
    padding: 11px;
    background-repeat: no-repeat !important;
    border: none;
	float: right;
}
.design_online.col.col-sm-11{
	padding-right: 6px;
    margin-left: 6px;
	width: 93.666667%;
}
.design_online_space{
	height:15px;
	width: 6.33333%;
}
#rt_unit,#rt_material,#rt_deliveryvbpuk,#rt_finishing{
    appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: url(/wp-content/plugins/custom_fancy_product/images/icons/input-arrow-2.png);
    background-repeat: no-repeat;	
}
select#rt_material,select#rt_unit,select#rt_deliveryvbpuk,select#rt_finishing {
     background-position: 96%;
}
.finishing.col.col-sm-2 {
    padding-left: 25px;
    padding-right: 0px;
	width: 21.666%;
}
.qtyp1.col.col-sm-2{
	width: 11.666% !important;
    padding-left: 8px;
}
select#rt_finishing {
    padding: 4px !important;
	height:29px;
}
div#form1 label {
    position: relative;
    bottom: -3px;
    font-size: 20px;	
    margin-bottom:0px;
    font-family: sans-serif;
}
.custom_calculator div#form1 input ,select#rt_material, select#rt_unit, select#rt_deliveryvbpuk, select#rt_finishing{
    padding: 10px 10px;
}
input#btn-qoute {
    border: none;
    cursor: pointer;
    position: relative !important;
    background: url(http://vinylbannersprinting.co.uk/wp-content/uploads/2017/01/get_qoute.png);
    width: 159px;
    padding: 10px;
    background-repeat: no-repeat !important;
    margin-bottom: 6px;
}.inch_main2.col-sm-1,.inch_main1.col-sm-1 {    width: 12%;    padding: 0;}

/* bootstrap */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1 {
  float: left;
  width: 8.333333%;
}

.col-xs-2 {
  float: left;
  width: 16.666667%;
}

.col-xs-3 {
  float: left;
  width: 25%;
}

.col-xs-4 {
  float: left;
  width: 33.333333%;
}

.col-xs-5 {
  float: left;
  width: 41.666667%;
}

.col-xs-6 {
  float: left;
  width: 50%;
}

.col-xs-7 {
  float: left;
  width: 58.333333%;
}

.col-xs-8 {
  float: left;
  width: 66.666667%;
}

.col-xs-9 {
  float: left;
  width: 75%;
}

.col-xs-10 {
  float: left;
  width: 83.333333%;
}

.col-xs-11 {
  float: left;
  width: 91.666667%;
}

.col-xs-12 {
  float: left;
  width: 100%;
}

.pull-xs-0 {
  right: auto;
}

.pull-xs-1 {
  right: 8.333333%;
}

.pull-xs-2 {
  right: 16.666667%;
}

.pull-xs-3 {
  right: 25%;
}

.pull-xs-4 {
  right: 33.333333%;
}

.pull-xs-5 {
  right: 41.666667%;
}

.pull-xs-6 {
  right: 50%;
}

.pull-xs-7 {
  right: 58.333333%;
}

.pull-xs-8 {
  right: 66.666667%;
}

.pull-xs-9 {
  right: 75%;
}

.pull-xs-10 {
  right: 83.333333%;
}

.pull-xs-11 {
  right: 91.666667%;
}

.pull-xs-12 {
  right: 100%;
}

.push-xs-0 {
  left: auto;
}

.push-xs-1 {
  left: 8.333333%;
}

.push-xs-2 {
  left: 16.666667%;
}

.push-xs-3 {
  left: 25%;
}

.push-xs-4 {
  left: 33.333333%;
}

.push-xs-5 {
  left: 41.666667%;
}

.push-xs-6 {
  left: 50%;
}

.push-xs-7 {
  left: 58.333333%;
}

.push-xs-8 {
  left: 66.666667%;
}

.push-xs-9 {
  left: 75%;
}

.push-xs-10 {
  left: 83.333333%;
}

.push-xs-11 {
  left: 91.666667%;
}

.push-xs-12 {
  left: 100%;
}

.offset-xs-1 {
  margin-left: 8.333333%;
}

.offset-xs-2 {
  margin-left: 16.666667%;
}

.offset-xs-3 {
  margin-left: 25%;
}

.offset-xs-4 {
  margin-left: 33.333333%;
}

.offset-xs-5 {
  margin-left: 41.666667%;
}

.offset-xs-6 {
  margin-left: 50%;
}

.offset-xs-7 {
  margin-left: 58.333333%;
}

.offset-xs-8 {
  margin-left: 66.666667%;
}

.offset-xs-9 {
  margin-left: 75%;
}

.offset-xs-10 {
  margin-left: 83.333333%;
}

.offset-xs-11 {
  margin-left: 91.666667%;
}

@media (min-width: 544px) {
  .col-sm-1 {
    float: left;
    width: 8.333333%;
  }
  .col-sm-2 {
    float: left;
    width: 16.666667%;
  }
  .col-sm-3 {
    float: left;
    width: 25%;
  }
  .col-sm-4 {
    float: left;
    width: 33.333333%;
  }
  .col-sm-5 {
    float: left;
    width: 41.666667%;
  }
  .col-sm-6 {
    float: left;
    width: 50%;
  }
  .col-sm-7 {
    float: left;
    width: 58.333333%;
  }
  .col-sm-8 {
    float: left;
    width: 66.666667%;
  }
  .col-sm-9 {
    float: left;
    width: 75%;
  }
  .col-sm-10 {
    float: left;
    width: 83.333333%;
  }
  .col-sm-11 {
    float: left;
    width: 91.666667%;
  }
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  .pull-sm-0 {
    right: auto;
  }
  .pull-sm-1 {
    right: 8.333333%;
  }
  .pull-sm-2 {
    right: 16.666667%;
  }
  .pull-sm-3 {
    right: 25%;
  }
  .pull-sm-4 {
    right: 33.333333%;
  }
  .pull-sm-5 {
    right: 41.666667%;
  }
  .pull-sm-6 {
    right: 50%;
  }
  .pull-sm-7 {
    right: 58.333333%;
  }
  .pull-sm-8 {
    right: 66.666667%;
  }
  .pull-sm-9 {
    right: 75%;
  }
  .pull-sm-10 {
    right: 83.333333%;
  }
  .pull-sm-11 {
    right: 91.666667%;
  }
  .pull-sm-12 {
    right: 100%;
  }
  .push-sm-0 {
    left: auto;
  }
  .push-sm-1 {
    left: 8.333333%;
  }
  .push-sm-2 {
    left: 16.666667%;
  }
  .push-sm-3 {
    left: 25%;
  }
  .push-sm-4 {
    left: 33.333333%;
  }
  .push-sm-5 {
    left: 41.666667%;
  }
  .push-sm-6 {
    left: 50%;
  }
  .push-sm-7 {
    left: 58.333333%;
  }
  .push-sm-8 {
    left: 66.666667%;
  }
  .push-sm-9 {
    left: 75%;
  }
  .push-sm-10 {
    left: 83.333333%;
  }
  .push-sm-11 {
    left: 91.666667%;
  }
  .push-sm-12 {
    left: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    width: 8.333333%;
  }
  .col-md-2 {
    float: left;
    width: 16.666667%;
  }
  .col-md-3 {
    float: left;
    width: 25%;
  }
  .col-md-4 {
    float: left;
    width: 33.333333%;
  }
  .col-md-5 {
    float: left;
    width: 41.666667%;
  }
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-7 {
    float: left;
    width: 58.333333%;
  }
  .col-md-8 {
    float: left;
    width: 66.666667%;
  }
  .col-md-9 {
    float: left;
    width: 75%;
  }
  .col-md-10 {
    float: left;
    width: 83.333333%;
  }
  .col-md-11 {
    float: left;
    width: 91.666667%;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
  .pull-md-0 {
    right: auto;
  }
  .pull-md-1 {
    right: 8.333333%;
  }
  .pull-md-2 {
    right: 16.666667%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .pull-md-4 {
    right: 33.333333%;
  }
  .pull-md-5 {
    right: 41.666667%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .pull-md-7 {
    right: 58.333333%;
  }
  .pull-md-8 {
    right: 66.666667%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .pull-md-10 {
    right: 83.333333%;
  }
  .pull-md-11 {
    right: 91.666667%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .push-md-0 {
    left: auto;
  }
  .push-md-1 {
    left: 8.333333%;
  }
  .push-md-2 {
    left: 16.666667%;
  }
  .push-md-3 {
    left: 25%;
  }
  .push-md-4 {
    left: 33.333333%;
  }
  .push-md-5 {
    left: 41.666667%;
  }
  .push-md-6 {
    left: 50%;
  }
  .push-md-7 {
    left: 58.333333%;
  }
  .push-md-8 {
    left: 66.666667%;
  }
  .push-md-9 {
    left: 75%;
  }
  .push-md-10 {
    left: 83.333333%;
  }
  .push-md-11 {
    left: 91.666667%;
  }
  .push-md-12 {
    left: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    width: 8.333333%;
  }
  .col-lg-2 {
    float: left;
    width: 16.666667%;
  }
  .col-lg-3 {
    float: left;
    width: 25%;
  }
  .col-lg-4 {
    float: left;
    width: 33.333333%;
  }
  .col-lg-5 {
    float: left;
    width: 41.666667%;
  }
  .col-lg-6 {
    float: left;
    width: 50%;
  }
  .col-lg-7 {
    float: left;
    width: 58.333333%;
  }
  .col-lg-8 {
    float: left;
    width: 66.666667%;
  }
  .col-lg-9 {
    float: left;
    width: 75%;
  }
  .col-lg-10 {
    float: left;
    width: 83.333333%;
  }
  .col-lg-11 {
    float: left;
    width: 91.666667%;
  }
  .col-lg-12 {
    float: left;
    width: 100%;
  }
  .pull-lg-0 {
    right: auto;
  }
  .pull-lg-1 {
    right: 8.333333%;
  }
  .pull-lg-2 {
    right: 16.666667%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .pull-lg-4 {
    right: 33.333333%;
  }
  .pull-lg-5 {
    right: 41.666667%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .pull-lg-7 {
    right: 58.333333%;
  }
  .pull-lg-8 {
    right: 66.666667%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .pull-lg-10 {
    right: 83.333333%;
  }
  .pull-lg-11 {
    right: 91.666667%;
  }
  .pull-lg-12 {
    right: 100%;
  }
  .push-lg-0 {
    left: auto;
  }
  .push-lg-1 {
    left: 8.333333%;
  }
  .push-lg-2 {
    left: 16.666667%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .push-lg-4 {
    left: 33.333333%;
  }
  .push-lg-5 {
    left: 41.666667%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .push-lg-7 {
    left: 58.333333%;
  }
  .push-lg-8 {
    left: 66.666667%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .push-lg-10 {
    left: 83.333333%;
  }
  .push-lg-11 {
    left: 91.666667%;
  }
  .push-lg-12 {
    left: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (max-width: 767px) {	.custom_calculator {		width: 100%;	}	.double_sided.column.one-fourth {		display: none;	}	.inch_main2.col-sm-1, .inch_main1.col-sm-1 {		width: 100%;		padding: 0;	}	div#order_total_heading_h2 {		font-size: 26px;		float: left;	}	.custom_order_row.column.one-fifth {		width: auto !important;	}	.custom_calculator_side_bar {		display: none;	}	.custom_order_row.column.one-fifth {		width: 48% !important;		float: left;		display: inline-block;		clear: right;		margin-top: 15px;	}	.custom_price_row.column.one-fifth {		width: 48% !important;		float: right;		display: inline-block;		clear: initial;		margin: 0;	}	.pricetotal_oneway:before {		margin-top: 13px;	}	input#pricetotal_oneway {		padding-top: 0;	}	.finishing.column.one-fifth {		margin: 0 auto;		text-align: center;	}}@media (min-width: 1200px) {
  .col-xl-1 {
    float: left;
    width: 8.333333%;
  }
  .col-xl-2 {
    float: left;
    width: 16.666667%;
  }
  .col-xl-3 {
    float: left;
    width: 25%;
  }
  .col-xl-4 {
    float: left;
    width: 33.333333%;
  }
  .col-xl-5 {
    float: left;
    width: 41.666667%;
  }
  .col-xl-6 {
    float: left;
    width: 50%;
  }
  .col-xl-7 {
    float: left;
    width: 58.333333%;
  }
  .col-xl-8 {
    float: left;
    width: 66.666667%;
  }
  .col-xl-9 {
    float: left;
    width: 75%;
  }
  .col-xl-10 {
    float: left;
    width: 83.333333%;
  }
  .col-xl-11 {
    float: left;
    width: 91.666667%;
  }
  .col-xl-12 {
    float: left;
    width: 100%;
  }
  .pull-xl-0 {
    right: auto;
  }
  .pull-xl-1 {
    right: 8.333333%;
  }
  .pull-xl-2 {
    right: 16.666667%;
  }
  .pull-xl-3 {
    right: 25%;
  }
  .pull-xl-4 {
    right: 33.333333%;
  }
  .pull-xl-5 {
    right: 41.666667%;
  }
  .pull-xl-6 {
    right: 50%;
  }
  .pull-xl-7 {
    right: 58.333333%;
  }
  .pull-xl-8 {
    right: 66.666667%;
  }
  .pull-xl-9 {
    right: 75%;
  }
  .pull-xl-10 {
    right: 83.333333%;
  }
  .pull-xl-11 {
    right: 91.666667%;
  }
  .pull-xl-12 {
    right: 100%;
  }
  .push-xl-0 {
    left: auto;
  }
  .push-xl-1 {
    left: 8.333333%;
  }
  .push-xl-2 {
    left: 16.666667%;
  }
  .push-xl-3 {
    left: 25%;
  }
  .push-xl-4 {
    left: 33.333333%;
  }
  .push-xl-5 {
    left: 41.666667%;
  }
  .push-xl-6 {
    left: 50%;
  }
  .push-xl-7 {
    left: 58.333333%;
  }
  .push-xl-8 {
    left: 66.666667%;
  }
  .push-xl-9 {
    left: 75%;
  }
  .push-xl-10 {
    left: 83.333333%;
  }
  .push-xl-11 {
    left: 91.666667%;
  }
  .push-xl-12 {
    left: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}.main_info p {    font-size: 12px;}@media (max-width: 1280px){	.banner_wrapper.banners_info {		position: relative !important;		width: 66% !important;		text-align: left !important;		display: inline-block !important;		padding-top: 0;		margin-left: 1em;		margin-top: 0px;	}	.column.one-third.free-shipping {		width: 28%;	}	.column.one-third.email_info {		width: 38% !important;	}	.main_info img {		width: 49px;	}	.main_info h3 {		font-size: 13px !important;	}}

@media (min-width: 1023px) and (max-width: 768px){	.main_info h3 {		font-size: 11px !important;	}	.banner_wrapper.banners_info {		width: 73% !important;	}}




